*,
*:before,
*:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin: 0 auto;
    padding: 0;
}
a,
a:visited {
    text-decoration: underline;
}

body{
    font-family:'Tahoma';
    font-size: 12px;
}